body {
    background-image: url("hawkcenter.jpeg");
    font-family: Courier New, Courier, monospace, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px #FFFFFF, 0 0 5px yellow;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-color: #68aaff;    
}

#hero {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 450px;
    /* border: 5px solid green; */
    padding: 20px;
    margin: auto;
}

h2 {
    font-size: 40px;
    margin-top: 20px;
    
    
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    border-radius: 25px;
    margin: 0px auto;
    text-shadow: 0 0 3px #FFFFFF, 0 0 5px yellow;
}

#increment-btn {
    background: tan;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#save-btn {
    background: brown;
    padding-top: 10px;
    padding-bottom: 10px;

}

#save-el {
    font-size: 20px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#two-buttons {
    display: flex;
    margin: 20px 20px 20px 20px ;
    
}